body {
  margin: 0;
  font-family: "Fredoka", sans-serif;
}

a {
  text-decoration: none;
  color: black;
}

.navbar-brand {
  font-size: 50px;
  padding: 10px;
}

hr {
  width: 90vw;
}

h1 {
  text-align: center;
  margin-top: 100px;
  padding-top: 50px;
}

.collapse {
  padding-top: 40px;
}

h3 {
  cursor: pointer;
}

.a-1,
.a-2,
.a-3 {
  text-decoration: none;
  color: black;
}

.container {
  margin-top: 50px;
}

#chicken,
#beeff,
#sushi {
  background-color: darkgray;
}